* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* background: rgb(36, 0, 0); */
  /* background-color: var(--color-primary-bg); */
  background: rgb(36, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 0, 0, 0.601107177734375) 0%,
    rgba(189, 10, 72, 1) 0%,
    rgba(9, 113, 119, 1) 100%,
    rgba(0, 253, 255, 1) 100%
  );
}
/*Color declaration starts here*/
:root {
  --color-primary-bg: #bde7ed;
  --color-primary-Black: #000000;
  --color-primary-Blue: #0679dd;
  --color-primary-red: rgb(193, 0, 0);
}
.div {
  text-align: center;
  margin-top: 100px;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(Images/);
  background-position: center;
  background-size: cover;
  /* visibility: hidden; */
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  background-color: aliceblue;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
}
.image .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.data h2 {
  font-size: 33px;
  font-weight: 600;
}

span {
  font-size: 18px;
}
.row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info {
  text-align: center;
  padding: 0 20px;
}
.buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buttons .btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;

  background-color: rgb(165, 165, 228);
}
.buttons .btn:hover {
  box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
}
.coll h3,
span {
  margin: 10px 0;
}
